<h2>All Devices</h2>

<table>
  <tr>
    <th>Device ID</th>
    <th>Hive ID</th>
    <th>User ID</th>
    <th>State</th>
    <th>Version</th>
    <th>Details</th>
    <th></th>
  </tr>

<% @devices.each do |device| %>
  <tr>
    <td><%= device.deviceid %></td>
    <td><%= device.hiveid %></td>
    <td><%= device.userid %></td>
    <td><%= device.state %></td>
    <td><%= device.version %></td>
    <td><%= device.details %></td>
    <td><%= link_to "Show", device %></td>
  </tr>
<% end %>
</table>

<%= link_to "Add New Device", new_device_path %>

<br />
