<h2>All Hive Days</h2>

<table>
  <tr>
    <th>Hive ID</th>
    <th>Date</th>
    <th>Population</th>
    <th>Population Cumulative</th>
    <th>Production</th>
    <th>Production Cumulative</th>
    <th></th>
  </tr>

<% @hive_days.each do |hive_day| %>
  <tr>
    <td><%= hive_day.id %></td>
    <td><%= Time.at(hive_day.date_time.to_i) %></td>
    <td><%= hive_day.population %></td>
    <td><%= hive_day.population_cumulative %></td>
    <td><%= hive_day.production %></td>
    <td><%= hive_day.production_cumulative %></td>
    <td><%= link_to 'Show', hive_days_range_path(hive_day.id, hive_day.date_time, hive_day.date_time) %></td>
  </tr>
<% end %>
</table>

<br />
