<h2>All Hives</h2>

<table>
  <tr>
    <th>Hive ID</th>
    <th>Device ID</th>
    <th>User ID</th>
    <th>Details</th>
    <th></th>
  </tr>

<% @hives.each do |hive| %>
  <tr>
    <td><%= hive.hiveid %></td>
    <td><%= hive.deviceid %></td>
    <td><%= hive.userid %></td>
    <td><%= hive.details %></td>
    <td><%= link_to "Show", hive %></td>
  </tr>
<% end %>
</table>

<%= link_to "Add New Hive", new_hive_path %>

<br />
